body {
    background-image:url(background_paws.png);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height:100vh;
}
.button {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 400px;
}

button {
  flex: 1;
  min-width: 80px;
  padding: 12px;
  font-size: 16px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 8px;
}


img{
    width:90vw;
    max-width: 250px;
}
h1{
    border-color:purple;
    color:white;
    border: 10px solid purple;
    background-color:purple;  
}
#timer {
    font-size: 12vw;
    color:white;
    font-weight:bold
}
h2 {
  font-size: 8vw;
  color: white;
  text-align: center;
  margin-bottom: 5px;
}
